@font-face {
	font-family: Sahel;
	src: local("Sahel"),
		url("fonts/sahel/FD-WOL.woff") format('woff'),
		url("fonts/sahel/FD-WOL.ttf") format('truetype');
	font-weight: normal;
}

@font-face {
	font-family: Sahel;
	src: local("Sahel Bold"),
		url("fonts/sahel/Bold-FD-WOL.woff") format('woff'),
		url("fonts/sahel/Bold-FD-WOL.ttf") format('truetype');
	font-weight: bold;
}

@font-face {
	font-family: "Fira Sans";
	src: local("Fira Sans"),
		url("fonts/fira/sans.woff") format('woff'),
		url("fonts/fira/sans.ttf") format('truetype');
}

@font-face {
	font-family: "Fira Mono";
	src: local("Fira Mono"),
		url("fonts/fira/Code.woff") format('woff'),
		url("fonts/fira/Code.ttf") format('truetype');
}
