.posts
	list-style: outside none none
	padding: 0
	margin: 0

article.post
	header a
		margin: 12px 0
		font-size: 1.7em

	> div
		> a
			color: inherit
			text-decoration: none

		img
			box-shadow: 0 0 8px #00adb5
			border: solid 1px #393e46
			max-width: calc(100% - 12px)
			border-radius: 8px

		.highlighttable, .highlight, pre, code
			direction: ltr
			text-align: left

		pre, code
			font-size: 15px
			border: 1px solid #00adb5
			border-radius: 3px
			background-color: #393e46
			color: white

		pre
			padding: 8px 12px
			overflow-x: scroll
			margin: 3.75px 0px

		code
			font-family: "Fira Code"
			padding: 0px 4px

		.youtube-embed
			display: block
			margin: 1.5em auto
			width: 560px
			height: 315px

section.content
	> .share, > .tags
		margin: 6px 0

	> .tags span:last-child
		display: none

	> .share
		span, a, img
			display: inline-block
			height: 1.7em
			vertical-align: middle

		img
			width: auto

	.postnav
		margin-bottom: 2em
		border-style: dashed
		border-color: #044a42
		border-width: 2px 0
		padding: 0.6em 0px

		> div
			width: 49%

			div
				transition: 0.4s

			.caption
				color: white
				font-size: 1.2em

			a:hover, a:focus
				div
					margin: 0 12px

				.title
					color: #b8e1dd
