---
layout: default
---

<div class="home">

  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <div class="post-container">
          {% if post.content contains "<!-- ادامه -->" %}
            {{ post.content | split:"<!-- ادامه -->" | first % }}
          {% else %}
            {{ post.content | strip_html | truncatewords:75 }}
          {% endif %}
          <br>
          <a href="{{ post.url | prepend: site.baseurl }}">بیش‌تر بخوانید...</a><br>
        </div>
      </li>
    {% endfor %}
  </ul>
  
  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="previous">صفحه‌ی قبل</a>
    {% else %}
      <a class="previous disabled">صفحه‌ی قبل</a>
    {% endif %}
    
    <span class='pages-nav' >
    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <em>{{ page }}</em>
      {% elsif page == 1 %}
        <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
      {% else %}
        <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
      {% endif %}
    {% endfor %}
    </span>
    
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="next">صفحه‌ی بعد</a>
    {% else %}
      <a class="next disabled">صفحه‌ی بعد</a>
    {% endif %}
  </div>
  {% endif %}
</div>
