---
layout: default
---

<div class="home">

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <div class="post-container">
          {% if post.content contains "<!-- more -->" %}
            {{ post.content | split:"<!-- more -->" | first % }}
          {% else %}
            {{ post.content | strip_html | truncatewords:100 }}
          {% endif %}
          <br>
          <a href="{{ post.url | prepend: site.baseurl }}">بیش‌تر بخوانید...</a><br><br>
        </div>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">مشترک <a href="{{ "/feed.xml" | prepend: site.baseurl }}">خوراک خبری</a> شوید!</p>

</div>
