---
layout: default
---

<div class="home">

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <div class="post-container">
          {% if post.content contains "<!-- ادامه -->" %}
            {{ post.content | split:"<!-- ادامه -->" | first % }}
          {% else %}
            {{ post.content | strip_html | truncatewords:75 }}
          {% endif %}
          <br>
          <a href="{{ post.url | prepend: site.baseurl }}">بیش‌تر بخوانید...</a><br>
        </div>
      </li>
    {% endfor %}
  </ul>
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="previous">صفحه‌ی قبل</a>
    {% endif %}
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="next">صفحه‌ی بعد</a>
    {% endif %}
  </div>
</div>
