/**
 * Site header
 */
.site-header {
    min-height: 56px;
    box-shadow: 0 5px 8px -6px black;
    background-color: $foder-color;
    
    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: right;
    white-space: nowrap;
    
    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: left;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        line-height: $base-line-height;
        color: $grey-color-dark;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        left: 30px;
        background-color: $background-color;
        border: 0 solid $grey-color-light;
        text-align: right;
        border-radius: 3px;
                
        .menu-icon {
            display: block;
            float: left;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
            box-shadow: 0 5px 8px -6px black;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
            color: $grey-color-light;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    padding: $spacing-unit 0;
    box-shadow: 0 -6px 13px -10px black;
    background-color: $foder-color;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.contact-list a {
    transition: padding 0.6s;
    
    &:hover {
      padding-right: $spacing-unit / 3;
      padding-left: $spacing-unit / 3;
      transition: padding 0.2s;
    }
}

.social-media-list li {
    transition: padding 0.6s;
    
    &:hover {
      padding-right: $spacing-unit / 2;
      transition: padding 0.2s;
    }
}

.footer-col-wrapper {
    font-size: 15px;
    color: $background-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
    
    a, a:hover {
      color: $grey-color-dark;
    }
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
    
    
    & img {
      transition: filter 2s;
    
      &:hover {
          filter: sepia(220%);
          transition: 0s;
        }
    }
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
    background-color: $background-color;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-category {
    display: inline;
    color: $grey-color;
}

.post-pager {
    margin-bottom: $spacing-unit;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.pagination {
  text-align: center;
  padding-bottom: $spacing-unit;
  
  a {
    background-color: #7e57c2;
    color: $background-color;
    padding: $spacing-unit / 6;
    border-radius: 6px;
    box-shadow: 0 5px 8px -6px black;
    transition: background-color 0.3s;
    
    &:hover {
      background-color: #5e35b1;
      box-shadow: 0 5px 8px -7px black;
    }
  }
  
  .disabled,
  .disabled:hover {
    background-color: #808080;
    color: #D0D0D0;
    box-shadow: 0 5px 8px -6px black;
  }
}
.pagination .previous {
  float: right;
}
.pagination .next {
  float: left;
}
.pages-nav {
  background-color: #7e57c2;
  color: $background-color;
  
  border-radius: 6px;
  box-shadow: 0 5px 8px -6px black;
  transition: background-color 0.3s;
    
  & em {
    padding: 0 4px;
    font-style: normal;
  }
  
  & a:hover {
    background-color: $background-color;
    color: #7e57c2;
    box-shadow: 0 0 12px -4px black;
  }
}
