.site-title, .site-desc, .site-navigation {
  display: block;
  text-align: center;
}

.site-navigation {
  float: none;
  padding: 0;
  margin: 0 auto;
  width: 90%;
  max-width: 300px;
}

.youtube-embed {
  margin: 1em auto;
  width: 100%;
  height: auto;
}
.postnav-prev, .postnav-next {
  display: block;
  width: unset;
}
.postnav a:hover span,
.postnav a:focus span {
  margin: 0;
}

@media screen and (max-width: 560px) {

  .container {
    min-height: calc(100% - 240px);
    padding-bottom: 240px;
  }

  .site-footer {
    height: 240px;
  }

  .column-1, .column-2, .column-3 {
    width: unset;
    margin: 0 auto;
    text-align: center;
    display: block;
    padding: 8px 0;
  }

}
