/* colors adapted from colorhunt.co/c/4910 */

html, body {height: 100%;}
body {
  direction: rtl;
  font-family: "Iranian Sans", "Ubuntu", "Droid Arabic Naskh", "Helvetica", "sans-serif", "Arial";
  font-size: 16px;
  line-height: 1.65;
  font-weight: 300;
  color: #b8e1dd;
  margin: 0;
  padding: 0;
  background-color: #062925;
}
a, a:visited {
  text-decoration: none;
  color: #3a9188;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0.6em 0;
}
h1 { font-size: 1.5em; }
h2 { font-size: 1.4em; }
h3 { font-size: 1.3em; }
h4 { font-size: 1.2em; }
h5 { font-size: 1.1em; }
h6 { font-size: 1.0em; }
p {
  margin: 0.6em 0;
}
strong {
  font-weight: bold;
}
img {
  max-width: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container {
  position: relative;
  min-height: calc(100% - 196px); /* 196=56+140: header+footer height */
  padding: 56px 0 140px 0; /* like above */
}
.warpper {
  max-width: 80%;
  margin: 0 auto;
  padding: 0 30px;
}
.icon {
  display: inline-block;
  width: 16px;
  height: 16px;
}
.icon > svg path {
  fill: #b8e1dd;
}

.site-header {
  color: white;
  background-color: #044a42;
  padding: 0;
  white-space: nowrap;
  box-shadow: 0px 7px 11px -4px black;
  min-height: 56px;
  position: fixed;
  top: 0;
  width: 100%;
  transition: filter 0.1s;
}
.site-logo {
  float: right;
  max-height: 56px;
}
.site-title, .site-title:visited {
  margin: 0;
  padding: 0;
  font-size: 1.6em;
  line-height: 2.2em;
  letter-spacing: -1px;
  color: white;
  float: right;
}
.site-navigation {
  float: left;
  line-height: 56px;
}
.site-navigation .menu-icon {
  display: none;
}
.site-navigation .page-link {
  line-height: 1.65;
  color: #b8e1dd;
}
.site-navigation .page-link {
  margin-left: 12px;
}
.content {
  padding: 0;
  margin: 0.05em auto;
}
.page-content {
  margin-bottom: 2em;
}
.post-list {
  margin: 0;
  list-style: none;
  padding: 0;
}
.post-list li {
  margin: 2em 0;
}
.post-header {
  color: #044a42;
  padding: 0;
  font-weight: 300;
  min-height: 1.2em;
}
.post-title {
  font-size: 2em;
}
.publish-date, .modify-date {
  color: #044a42;
  border: none;
  display: block;
}
.author {
  display: none;
}
.post-content {
  padding: 0;
  display: block;
}
.tag-seprator:last-child {
  display: none;
}
.tags-list, .categories-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-right: 1.5em;
  margin-bottom: 1.5em;
}
.tags-list li, .categories-list li {
  display: inline-block;
  width: 30%;
}

/* Posts' content styling  */
.post-content ul, .post-content li {
  margin: 1em 0;
}
.page-content a, .content a {
  text-decoration-color:#3a9188;
  transition: 0.3s;
}
.page-content a:hover, .content a:hover {
  text-decoration-color: #b8e1dd;
  color: #b8e1dd;
}
.post-content img {
  box-shadow: 0 0 8px #044a42;
  border: solid 1px #3a9188;
  max-width: calc(100% - 12px);
  border-radius: 8px;
}
.highlighttable, .highlight, pre, code {
  direction: ltr;
}
pre, code {
  font-size: 15px;
  border: 1px solid #3a9188;
  border-radius: 3px;
  background-color: #044a42;
  color: #b8e1dd;
}
pre {
  padding: 8px 12px;
  overflow-x: scroll;
  margin: 3.75px 0px;
}
code {
  font-family: "Ubuntu Mono";
  padding: 0px 4px;
}
.youtube-embed {
  display: block;
  margin: 1.5em auto;
  width: 560px;
  height: 315px;
}

.share-message-normal { display: inline; }
.share-message-small { display: none; }

.share-button {
  display: inline-block;
  height: 27px;
  vertical-align: bottom;
}
.share-button img, .share-button a {
  height: 100%;
  width: 100%;
  display: block;
}
.share-button img {
  filter: brightness(60%);
  transition: filter 0.6s;
  z-index: -1;
}
.share-button a:hover img,
.share-button a:focus img {
  filter: brightness(100%);
  transition: filter 0.1s;
}
.postnav {
  text-align: center;
  display: block;
  width: 100%;
  margin-bottom: 2em;
  border-style: dashed;
  border-color: #044a42;
  border-width: 2px 0;
  padding: 0.6em 0px;
}
.postnav-prev, .postnav-next {
  display: inline-block;
  width: 49%;
}
.postnav-prev {
  text-align: right;
}
.postnav-next {
  text-align: left;
}
.postnav span {
  display: block;
  transition: 0.4s;
}
.postnav-caption {
  color: white;
  font-size: 1.2em;
}
.postnav a:hover .postnav-title,
.postnav a:focus .postnav-title {
  color: #b8e1dd;
}
.postnav a:hover span,
.postnav a:focus span {
  margin: 0 12px;
}
.pagination {
  text-align: center;
  padding-bottom: 30px;
  white-space: nowrap;
}
.pagination-count {
  max-width: 40px;
}
.button, .button:visited {
  background-color: transparent;
  color: #3a9188;
  padding: 5px;
  box-shadow: none;
  text-shadow: none;
}
.button:focus, .button:hover {
  color: #b8e1dd !important;
  text-shadow: 0 0 4px #b8e1dd;
}
.pagination .disabled,
.pagination .disabled:hover,
.pagination .disabled:focus {
  color: #044a42 !important;
  text-shadow: none;
}
.site-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 140px;
  box-shadow: 0 -6px 13px -10px black;
  background-color: #044a42;
}
.footer-heading {
  font-size: 18px;
  margin 0;
  color: #b8e1dd;
}
.contact-list, .social-media-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.contact-list a {
  transition: padding 0.6s;
}
.contact-list a:hover {
  padding-right: 10px;
  padding-left: 10px;
  transition: padding 0.2s;
}
.rss-subscribe a,
.rss-subscribe a:focus,
.rss-subscribe a:hover {
  color: #b8e1dd !important;

}
.social-media-list li {
  transition: padding 0.6s;
}
.social-media-list li:hover {
  padding-right: 15px;
  transition: padding 0.2s;
}
.footer-col-wrapper {
  font-size: 15px;
  color: #FFFFFF;
  margin-left: -15px;
}
.footer-col-wrapper a, .footer-col-wrapper a:hover {
  color: #b8e1dd;
}
.footer-col {
  float: left;
  padding-left: 15px;
}
.footer-col-1 {
  width: calc(35% - 15px);
}
.footer-col-2 {
  width: calc(20% - 15px);
}
.footer-col-2 img {
  transition: filter 2s;
}
.footer-col-2 img:hover {
  filter: sepia(220%);
  transition: 0s;
}
.footer-col-3 {
  width: calc(45% - 15px);
}
