body {
	direction: rtl;
	font-family: "Iranian Sans", "Ubuntu", "Droid Arabic Naskh", "Helvetica", "sans-serif", "Arial";
  font-size: 16px;
  line-height: 1.65;
  font-weight: 300;
  color: #EEE8D5;
	margin: 0;
	padding: 0;
	background-color: #073642;
}
a, a:visited {
	text-decoration: none;
	color: #268BD2;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	margin: 0.6em 0;
}
h1 { font-size: 1.5em; }
h2 { font-size: 1.4em; }
h3 { font-size: 1.3em; }
h4 { font-size: 1.2em; }
h5 { font-size: 1.1em; }
h6 { font-size: 1.0em; }
p {
	margin: 0.6em 0;
}
strong {
	font-weight: bold;
}
img {
  max-width: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.warpper {
  max-width: 80%;
  margin: 0 auto;
  padding: 0 30px;
}
.icon {
  display: inline-block;
  width: 16px;
  height: 16px;
}
.icon > svg path {
  fill: #4e342e;
}

.site-header {
	color: white;
	background-color: #2AA198;
	padding: 0;
	white-space: nowrap;
	box-shadow: 0px 7px 11px -4px black;
	min-height: 56px;
	position: fixed;
	top: 0;
	width: 100%;
}
.site-logo {
	float: right;
	max-height: 56px;
}
.site-title, .site-title:visited {
	margin: 0;
	padding: 0;
	font-size: 1.6em;
  line-height: 2.2em;
  letter-spacing: -1px;
  color: white;
  float: right;
}
.site-navigation {
  float: left;
  line-height: 56px;
}
.site-navigation .menu-icon {
  display: none;
}
.site-navigation .page-link {
  line-height: 1.65;
  color: #efebe9;
}
.site-navigation .page-link:not(:first-child) {
  margin-left: 20px;
}
.spacer {
	height: 56px;
}
.content {
	padding: 0;
	margin: 0.05em auto;
}
.page-content {
	margin-bottom: 3em;
}
.post-list {
	margin: 0;
	list-style: none;
	padding: 0;
}
.post-list li {
	margin: 2em 0;
}
.post-header {
	color: #0277BD;
	padding: 0;
	font-weight: 300;
	min-height: 1.2em;
}
.post-title {
	font-size: 2em;
}
.publish-date, .modify-date {
  color: #859900;
  border: none;
  display: block;
}
.author {
	display: none;
}
.post-content {
	padding: 0;
	display: block;
}
.tags-list, .categories-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
	margin-right: 1.5em;
}
.tags-list li, .categories-list li {
	display: inline-block;
	width: 30%;
}

/* Posts' content styling  */
.post-content ul, .post-content li {
	margin: 1em 0;
}
.page-content a, .content a {
	transition: 0.3s;
}
.page-content a:hover, .content a:hover {
	color: #D33682;
}
.post-content img {
	box-shadow: 0 0 8px #2AA198;
	border: solid 1px #2AA198;
	max-width: calc(100% - 12px);
	border-radius: 8px;
}
.highlighttable, .highlight, pre, code {
	direction: ltr;
}
pre, code {
    font-size: 15px;
    border: 1px solid #4E342E;
    border-radius: 3px;
    background-color: #ffffcc;
    color: #657B83;
}
pre {
    padding: 8px 12px;
    overflow-x: scroll;
    margin: 3.75px 0px;
}
code {
    font-family: "Ubuntu Mono";
    padding: 0px 4px;
}
.youtube-embed {
	display: block;
	margin: 1.5em auto;
	width: 560px;
	height: 315px;
}
.pagination {
  text-align: center;
  padding-bottom: 30px;
  white-space: nowrap;
}
.pagination-count {
	max-width: 40px;
}
.button {
  background-color: #7e57c2;
  color: #FFFFFF;
  padding: 5px;
  box-shadow: 0 5px 8px -6px black;
  transition: background-color 0.3s;
}
.pagination a:hover {
  background-color: #5e35b1;
  box-shadow: 0 5px 8px -7px black;
}
.pagination .disabled,
.pagination .disabled:hover {
  background-color: #808080;
  color: #D0D0D0;
  box-shadow: 0 5px 8px -6px black;
}
.site-footer {
  box-shadow: 0 -6px 13px -10px black;
  min-height: 140px;
	background-color: #2AA198;
	margin-top: 2em;
	padding-top: 5px;
}
.footer-heading {
  font-size: 18px;
  margin 0;
  color: #FFFFFF;
}
.contact-list, .social-media-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.contact-list a {
  transition: padding 0.6s;
}
.contact-list a:hover {
  padding-right: 10px;
  padding-left: 10px;
  transition: padding 0.2s;
}
.social-media-list li {
  transition: padding 0.6s;
}
.social-media-list li:hover {
  padding-right: 15px;
  transition: padding 0.2s;
}
.footer-col-wrapper {
  font-size: 15px;
  color: #FFFFFF;
  margin-left: -15px;
}
.footer-col-wrapper a, .footer-col-wrapper a:hover {
  color: #efebe9;
}
.footer-col {
  float: left;
  padding-left: 15px;
}
.footer-col-1 {
  width: calc(35% - 15px);
}
.footer-col-2 {
  width: calc(20% - 15px);
}
.footer-col-2 img {
  transition: filter 2s;
}
.footer-col-2 img:hover {
  filter: sepia(220%);
  transition: 0s;
}
.footer-col-3 {
  width: calc(45% - 15px);
}
