{% extends "base.html" %}

{% block content %}
<section class="content">
	{% include "article.html" %}

	{% if page.tags %}
	<div class="tags">برچسب‌ها:
		{% for tag in page.tags %}
		<a href="!" title="{{ tag }}">{{ tag }}</a>
		<span>،</span>
		{% endfor %}
	</div>
	{% endif %}

	<div class="postnav text-center" >
		<div class="inline m-block m-full-width text-right">
			{% if page.previous %}
			<a href="{{ page.previous.permalink }}" title="نوشته پیشین">
				<div class="caption">نوشته پیشین</div>
				<div class="title">{{ page.previous.title }}</div>
			</a>
			{% else %}
			<a href="!"><div class="caption"></div><div class="title"></div></a>
			{% endif %}
		</div>
		<div class="inline m-block m-full-width text-left">
			{% if page.next %}
			<a href="{{ page.next.permalink }}" title="نوشته پسین">
				<div class="caption">نوشته پسین</div>
				<div class="title">{{ page.next.title }}</div>
			</a>
			{% else %}
			<a href="!"><div class="caption"></div><div class="title"></div></a>
			{% endif %}
		</div>
	</div>

	<div class="share">
		<span class="message">اشتراک گذاری روی:</span>
		<span class="button">
			<a target="_blank" title="تلگرام" href="https://telegram.me/share/url?url={{ page.permalink }}">
				<img src="{{ get_url(path="/images/share/telegram.png", trailing_slash=false) }}" alt="تلگرام" />
			</a>
		</span>
		<span class="button">
			<a target="_blank" title="توئیتر" href="https://twitter.com/home?status={{ page.title }} {{ page.permalink }}">
				<img src="{{ get_url(path="/images/share/twitter.png", trailing_slash=false) }}" alt="توئیتر" />
			</a>
		</span>
		<span class="button">
			<a target="_blank" title="گوگل پلاس" href="https://plus.google.com/share?url={{ page.permalink }}">
				<img src="{{ get_url(path="/images/share/googleplus.png", trailing_slash=false) }}" alt="گوگل پلاس" />
			</a>
		</span>
		<span class="button">
			<a target="_blank" title="فیس‌بوک" href="https://www.facebook.com/sharer/sharer.php?u={{ page.permalink }}">
				<img src="{{ get_url(path="/images/share/facebook.png", trailing_slash=false) }}" alt="فیس‌بوک" />
			</a>
		</span>
	</div>

	<div id="disqus_thread" style="margin-bottom: 1em;"></div>
	<script type="text/javascript">
		var disqus_shortname = 'geekylife';
		var disqus_config = function () { this.language = "fa"; };
		var disqus_title = "{{ page.title }}";
		var disqus_identifier = "{{ page.slug }}";

		(function() {
			var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
			(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		})();
	</script>
	<noscript>
		لطفاً برای مشاهده‌ی
		<a href="https://disqus.com/?ref_noscript" rel="nofollow">دیدگاه‌ها</a>،
		جاوا اسکریپت را فعال کنید. قدرت گرفته از Disqus
	</noscript>
</section>
{% endblock %}
